@page "/"

<PageTitle>NOVO Planning</PageTitle>

<h1>Planning Generator</h1>

<p class="lead">
    Welkom bij de NOVO Planning Generator. Gebruik de navigatie aan de linkerzijde om taken, medewerkers en planningen te beheren.
</p>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Taken</h5>
                <p class="card-text">Beheer productietaken en hun configuratie.</p>
                <a href="/taken" class="btn btn-outline-primary">Naar Taken</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Medewerkers</h5>
                <p class="card-text">Beheer medewerkers, talen en competenties.</p>
                <a href="/medewerkers" class="btn btn-outline-primary">Naar Medewerkers</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Planning</h5>
                <p class="card-text">Genereer en bewerk dagplanningen.</p>
                <a href="/planning" class="btn btn-outline-primary">Naar Planning</a>
            </div>
        </div>
    </div>
</div>
